* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #4d386e;
}

.container {
  display: flex;
  flex-direction: column;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #6d1111;
  background-color: #f4f4f4;
}

a {
  color: #cc9900;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2 {
  font-weight: bold;
  margin: 1em 0;
  margin-left: 30px;
  margin-top: 10px;
}

p {
  margin-left: 60px;
  margin-top: 10px;
}

/* Header styles */
header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

h1 {
  margin-bottom: 1em;
}

.date {
  color: #0077cc;
  font-size: 2em;
}

/* Main styles */
main {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 4cm;
  margin-left: 300px;
  margin-bottom: 3cm;
}

section {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 2em;
}

section > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1em;
}

section > div > h2 {
  font-size: 2em;
}

section > div > p {
  font-size: 1.2em;
  color: #555;
  margin-left: 1em;
}

section > div > a {
  color: #cc9900;
  text-decoration: none;
  font-size: 1.2em;
}

section > div > a:hover {
  text-decoration: underline;
}

section > div > img {
  max-width: 60%;
}

details, ol, ul {
  margin-left: 80px;
  margin-top: 10px;
}

nav {
  top: 4cm;
  float: left;
  position: fixed;
  width: 10%;
  background-color: #007ecc;
  color: #fff;
  padding: 1em;
  overflow: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-bottom: 1.5em;
}

nav a {
  display: block;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 40%;
}

audio {
  display: block;
  margin: 0 auto;
}

video {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}

form {
  width: 40%;
  margin: 0 auto;
  background-color: #d1f1c3;
  padding: 20px;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea {
  display: block;
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0px 0px 5px rgba(46, 41, 41, 0.2);
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus {
  background-color: lightblue;
}

select[id=gender],
select[id=color],
select[id=country] {
  display: list-item;
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: none;
  box-shadow: inset 0px 0px 20px rgba(46, 41, 41, 0.2);
  box-sizing: border-box;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav li {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}
